.icon {
  cursor: pointer;

  display: block;

  width: 32px;
  height: 32px;

  background-size: cover;

  &--menu {
    background-image: url('../icons/Icon-Burger-menu.png');

    &:hover {
      @include transision;
    }

    @include on-tablet {
      margin-top: 37px;
    }

    @include on-desktop {
      display: none;
    }
  }

  &--close {
    width: 16px;
    height: 16px;
    background-image: url('../icons/icon--close.png');

    &:hover {
      @include transision;
    }
  }
}
