@mixin transision {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin content-padding-inline() {
  padding-inline: 30px;

  @include on-tablet {
    padding-inline: 34px;
  }

  @include on-desktop {
    padding-inline: 123px;
  }
}

@mixin page-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;

  @include on-tablet {
    grid-template-columns: repeat(8, 1fr);
    column-gap: 20px;
  }

  @include on-desktop {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
  }
}
